# Ignore node modules
node_modules/

# Ignore Next build output
.next/

# Ignore environment variables
.env

# Ignore editor settings
.vscode/
.idea/

# VS code history
.history

# Ignore log files and archives
*.log
*.tgz
